In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['54.221.178.60:9092'], 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [5]:
producer.send('telebot-topic1', value={'surnasdasdame':'vaddi'})

In [8]:
df = pd.read_csv("extracted_data_cleaned.csv")
df.head()

,group,sender,date,College,Interview Outcome,Visa Attempt Number,Interview Date,Interview Time,Interview City,Interview Country,...,Exam Score,English Test Type,English Test Score,Grad Level,Grad Major,Grad GPA,Grad Institute,Grad Country,Job Type,Job Years
0,f1interviewreviews,-1001285729190,2023-08-10 15:51:21+00:00,Concordia St Paul university,Approved,1.0,2023-06-07,11:30,Delhi,India\n\n \n @f1interviewreviews\n\n\n ...,...,0.0,TOEFL,90.0,Bachelors (4 Years),Electronics and Communication Engineering,7.22,Sai Tirumala NVR Engineering College,India\n\n Job Profile,IT Analyst,1.0
1,f1interviewreviews,-1001285729190,2023-08-10 14:17:21+00:00,Pittsburgh State University,Approved,1.0,2023-06-08,08:40,Delhi,India\n\n \n @f1interviewreviews\n\n\n ...,...,0.0,IELTS,6.5,Bachelors (3 Years),BBA-MA,6.39,Gitam University Hyderabad,India\n\n Job Profile,Quality Specialist,1.5
2,f1interviewreviews,-1001285729190,2023-08-10 12:21:22+00:00,University of Missouri Kansas City,Approved,1.0,2023-06-07,8:00AM,Chennai,India\n\n \n @f1interviewreviews\n\n\n ...,...,320.0,TOEFL,101.0,Bachelors-4,Information and Communication Technology,7.28,SASTRA Deemed to be University,India\n\n Job Profile,Software Engineer,1.9
3,f1interviewreviews,-1001285729190,2023-08-10 10:37:21+00:00,New York Institute of Technology,Rejected,2.0,2023-07-10,12:00,Chennai,India\n\n \n @f1interviewreviews\n\n\n ...,...,84.0,TOEFL,84.0,Bachelors-3,Commerce,7.98,Osmania University,India\n\n Job Profile,No Experience,0.0
4,f1interviewreviews,-1001285729190,2023-08-10 09:01:27+00:00,American university,Approved,1.0,2023-06-08,8:30,Chennai,India\n\n \n @f1interviewreviews\n\n\n ...,...,0.0,IELTS,8.0,Bachelors (3 Years),Bcom honours,9.45,Christ deemed to be university,India\n\n Job Profile,Audit,2.0

In [30]:
df["Interview Country"] = df["Interview Country"].str.split("\n").str[0]
df = df.drop(columns = ['group', 'sender', 'date'])

In [31]:
df.head()

,College,Interview Outcome,Visa Attempt Number,Interview Date,Interview Time,Interview City,Interview Country,Exam Type,Exam Score,English Test Type,English Test Score,Grad Level,Grad Major,Grad GPA,Grad Institute,Grad Country,Job Type,Job Years
0,Concordia St Paul university,Approved,1.0,2023-06-07,11:30,Delhi,India,Others,0.0,TOEFL,90.0,Bachelors (4 Years),Electronics and Communication Engineering,7.22,Sai Tirumala NVR Engineering College,India\n\n Job Profile,IT Analyst,1.0
1,Pittsburgh State University,Approved,1.0,2023-06-08,08:40,Delhi,India,Exempt,0.0,IELTS,6.5,Bachelors (3 Years),BBA-MA,6.39,Gitam University Hyderabad,India\n\n Job Profile,Quality Specialist,1.5
2,University of Missouri Kansas City,Approved,1.0,2023-06-07,8:00AM,Chennai,India,GRE,320.0,TOEFL,101.0,Bachelors-4,Information and Communication Technology,7.28,SASTRA Deemed to be University,India\n\n Job Profile,Software Engineer,1.9
3,New York Institute of Technology,Rejected,2.0,2023-07-10,12:00,Chennai,India,Others,84.0,TOEFL,84.0,Bachelors-3,Commerce,7.98,Osmania University,India\n\n Job Profile,No Experience,0.0
4,American university,Approved,1.0,2023-06-08,8:30,Chennai,India,Exempt,0.0,IELTS,8.0,Bachelors (3 Years),Bcom honours,9.45,Christ deemed to be university,India\n\n Job Profile,Audit,2.0

In [38]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('telebot-topic1', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [37]:
producer.flush() #clear data from kafka server